.audiv{
    
    height: 30vh;
    width: 50vw;
    text-align: center;
    margin: auto;
    margin-top: 350px;
    margin-bottom: 300px;
    
}
#cs{
    color: rgb(30, 26, 26);
    font-weight: bold;
}
#au{
    background-image: url(images/image--005.jpg);
    background-size: cover;
}
#auid{
    margin-top: 120px;
}
#bth{
    padding: 5px;
    border: 0px;
    border-radius:5px ;
}