#container1{
    height: 700px;
    width: 550px;
    
    margin-left: 0px;
    box-sizing: border-box;
    padding: 70px;
    
    
    
}
#container2{
    height: 700px;
    width: 550px;
  
    box-sizing: border-box;
    
}
#container3{
    height: 700px;
    width: 550px;
    
    margin-left: 0px;
   
    
    
    
}
#container4{
    height: 700px;
    width: 550px;
    

   
}
#row{
    margin-top: 0px;
    margin-left: 0%;
    position: sticky;
    z-index: 9999;
    
}
#row1{
    
    margin-top: 00px;
    position: relative;
}
#row2{
    
    margin-top: 100px;
}
#header{
    height: max-content;
    
    position: fixed;
   z-index: 1;


    
}

#img{
    width: 550px;
    height:100%;
}
#row2{
    margin-top: 20px;
}
#row3{
    margin-top: 20px;
}
span{
    color: #db8c23;
    font: 12px Roboto,sans-serif;
    /* font-family: sans-serif; */
    margin: 0px 0px 0px 35px;
    padding: 0px 0px 0px 35px;
    /* margin-top: ; */
}

.l1{
    color: #777777;
    font-size: 53.28px;
    font-family: sans-serif;
    font-style: italic;
    margin: 0px 0px 16px;
    padding: 10px 0px 0px;
    font-weight: bolder;
}
.l2{
    color: #db8c23;
    font-size: 53.28px;
    font-family: serif;
    font-style: italic;
}

#matter{
    color: #777777;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 0px 16px;
    padding: 10px 0px 0px;
    float: top;
    /*width: calc(100% - 350px - 10px);*/
}
#img1{
    width: 56px;
    height: 56px;
}
#img2{
    width: 18px;
    height: 18px;
    display: inline;
}
#img3{
    width: 10px;
    height: 20px;
}
#sp1{
    border: 1px solid black;
    padding: 5px;
    background-color: coral;
    color: white;
}
#ulele{
    margin: 2px 350px;
}
.nav-item{
    margin: 2px 9px;
}
#home{
    color: coral;
}

#maindiv{
    display: inline;
}
#b1img{
    height: 700px;
    width: 550px;
}
#ex{
    background-color: coral; color: white; border: transparent; border-radius: 5px;

}
#con{
    background-color: darkblue; color: white; border: transparent ;border-radius: 5px;
}
#ex:hover{
    background-color: darkblue;
}
#con:hover{
    background-color: coral;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
    

}
nav{
    background-color: white;
    
}
.p2div1:hover{
    scale: 1.5;

}
.p2div1{
    
    height: 200px;
    width: 300px;
    margin: 10px;
}
.opimgs{
    height: 200px;
    width: 300px;
}
#gal{
    font-style: italic;
    color: #ab842a;
    font-size: 35px;
}
#our{
    font-size: 35px;
}
#mar{
    margin-top: 200px;
    
    
    position: relative;

}
#row3{
    background-image: url("images/image--009.jpg");
    
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}



.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
   
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp  {
    opacity: 0;
    animation-name: fadeInUp;
   
}
.card:hover{
    scale: 1.02;

}
#middle{
    height: 500px;
    width: 500px;
    margin-top: 200px;
}
#footer{
    background:#162c44;
    
}
 #footer img{
    height: 60px;

}
li{
    list-style: none;
}
#form{
    border: 1px solid white ;
    color:#777777;
    height: 340px;
    width: 300px;
    padding-left: 30px;
    padding-top: 20px;
    background-color:#f4f4f4;

}
#name{
    background: #ffffff;
    border: transparent;
    border-radius: 7px;
    height: 35px;
    width: 200px;
    padding-left: 20px;
}
#email{
    background: #ffffff;
    border: transparent;
    border-radius: 7px;
    height: 35px;
    width: 200px;
    padding-left: 20px;
}
#phn{
    background: #ffffff;
    border: transparent;
    border-radius: 7px;
    height: 35px;
    width: 200px;
    padding-left: 20px;
}
#btn{
    border: transparent;
    background-color: #db8c23;
    color: #ffffff;
    width: 100px;
    height: 42.7px;
    padding: 8px 25px;
    padding-left: 20px;
}
#service{
    color: #777777;
    width: 678px;
    height: 33.5px;

    
}
ul{
    width: 678px;
    height: 27px;
    font: 14px;
    font-family: sans-serif;
    color: #ffffff;
}
#cont{
    color: #777777;
    font-size: 14px;
    font-family: sans-serif;
    
}
#para{
    color: #ffffff;
    font-family: sans-serif;
    
}
.kau{
    height: 300px;
    width: 260px;
    
}
#copy{
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
}
#obi{
    background-image: url('images/image--009.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
#obidiv1{
    height: 110vh;
    width: 40vw;
    border: 5px solid white;
    margin: 100px 30px;
    
    opacity: 0.6;
}
.overviewul li{
    color:white;
    font-weight: bold;
}
.overview p{
    color:rgb(83, 55, 184);
    
}

.listelements li{
    color:white;
    font-weight: bold;
} 
li{
    list-style: none;
    color: white;
}


