.p2div1{
    
    height: 200px;
    width: 300px;
}
.opimgs{
    height: 200px;
    width: 300px;
}
#gal{
    font-style: italic;
    color: #ab842a;
    font-size: 35px;
}
#our{
    font-size: 35px;
}
