#obi{
    background-image: url('images/image--009.jpg');
    background-size: cover;
    
}
#obidiv1{
    height: 110vh;
    width: 40vw;
    border: 5px solid white;
    margin: 100px 30px;
    background-color:rgb(94, 92, 92);
    opacity: 0.6;
}
.overviewul li{
    color:white;
    font-weight: bold;
}
.overview p{
    color:white;
    font-weight: bold;
}

.listelements li{
    color:white;
    font-weight: bold;
} 
li{
    list-style: none;
    color: white;
}