#img1{
    width: 56px;
    height: 56px;
}
#img2{
    width: 18px;
    height: 18px;
    display: inline;
}
#img3{
    width: 10px;
    height: 20px;
}
#sp1{
    border: 1px solid black;
    padding: 5px;
    background-color: coral;
    color: white;
}
#ulele{
    margin: 2px 350px;
}
.nav-item{
    margin: 2px 9px;
}
#home{
    color: coral;
}
nav{
    background-color: aquamarine;
}
#maindiv{
    display: inline;
}
#b1img{
    height: 500px;
    width: 500px;
}
#ex{
    background-color: coral; color: white; border: transparent; 
}
#con{
    background-color: darkblue; color: white; border: transparent;
}
#ex:hover{
    background-color: darkblue;
}
#con:hover{
    background-color: coral;
}