#footer{
    background:#162c44;
    
}
img{
    height: 60px;

}
li{
    list-style: none;
}
#form{
    border: 1px solid white ;
    color:#777777;
    height: 340px;
    width: 300px;
    padding-left: 30px;
    padding-top: 20px;
    background-color:#f4f4f4;

}
#name{
    background: #ffffff;
    border: transparent;
    border-radius: 7px;
    height: 35px;
    width: 200px;
    padding-left: 20px;
}
#email{
    background: #ffffff;
    border: transparent;
    border-radius: 7px;
    height: 35px;
    width: 200px;
    padding-left: 20px;
}
#phn{
    background: #ffffff;
    border: transparent;
    border-radius: 7px;
    height: 35px;
    width: 200px;
    padding-left: 20px;
}
#btn{
    border: transparent;
    background-color: #db8c23;
    color: #ffffff;
    width: 100px;
    height: 42.7px;
    padding: 8px 25px;
    padding-left: 20px;
}
#service{
    color: #777777;
    width: 678px;
    height: 33.5px;

    
}
ul{
    width: 678px;
    height: 27px;
    font: 14px;
    font-family: sans-serif;
    color: #ffffff;
}
#cont{
    color: #777777;
    font-size: 14px;
    font-family: sans-serif;
    
}
#para{
    color: #ffffff;
    font-family: sans-serif;
    
}
.kau{
    height: 300px;
    width: 260px;
    
}
#copy{
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
}