#rightarw{
    height: 11.3px;
    width: 15px; 
}

span{
    color: #db8c23;
    font: 12px Roboto,sans-serif;
    /* font-family: sans-serif; */
    margin: 0px 0px 0px 35px;
    padding: 0px 0px 0px 35px;
    /* margin-top: ; */
}

#l1{
    color: #777777;
    font-size: 53.28px;
    font-family: sans-serif;
    font-style: italic;
    margin: 0px 0px 16px;
    padding: 10px 0px 0px;
    font-weight: bolder;
}
#l2{
    color: #db8c23;
    font-size: 53.28px;
    font-family: serif;
    font-style: italic;
}

#matter{
    color: #777777;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 0px 16px;
    padding: 10px 0px 0px;
    float: top;
    width: calc(100% - 350px - 10px);
}

#btn{
    color: #ffffff;
    background-color: #db8c23;
    font-size: 15px;
    padding: 8px 25px;
    border: transparent;
    height:40px;
}
#img{
    /* padding-left: 1020px;
    padding-top: -300px; */
     /* align-items: center; */
    float: left;
    padding-left: 870px;
}

/* .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   } */